@import '@acab/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Figtree&display=swap');

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);

  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);

  --body--background: hsl(259, 100%, 95%);
  --body--font: 'Figtree', sans-serif;
  --body--color: hsl(258, 13%, 34%);

  --header--font: 'Berkshire Swash', cursive;
}

body {
  font-size: var(--step-0);
  background: var(--body--background);
  color: var(--body--color);
  font-family: var(--body--font);
  padding-block: var(--space-l);
}

h1,
h2,
h3 {
  font-family: var(--header--font);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-4);
}

.gallery {
  width: min(100% - var(--space-xl), var(--container-max, 60ch));
  margin-inline: auto;
}

.gallery * {
  margin: 0;
}

.gallery > * + * {
  margin-block-start: 1.5rem;
}

.gallery-grid {
  --min: 15ch;
  --gap: var(--space-s);

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.gallery-item {
  height: 100%;
}

.gallery-item a {
  height: 100%;
  display: grid;
  place-content: center;
}

.gallery-item img {
  height: auto;
  width: 100%;
  contain: layout;
}

.full-size img {
  view-transition-name: full-size;
  contain: layout;
}

.button {
  display: inline-grid;
  place-content: center;
  border-radius: var(--space-3xs);
  background: var(--body--color);
  color: var(--body--background);
  padding-inline: var(--space-m);
  padding-block: var(--space-3xs);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(full-size),
::view-transition-new(full-size) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-image-pair(full-size) {
  isolation: none;
}
